.text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dog {
  font-style: italic;
  font-weight: bold;
}

body {
  background-color: rgba(85, 137, 240, 0.245);
}

.highlight {
  color: blue;
}

.fish-type {
  background-color: rgb(255, 119, 194);
}

img {
  
  width: 30%;
  height: 30%;
}

.sidebar {
  box-sizing: border-box;
  width: 15%;
  float: left;
  background-color: white;
  height: 85vh;
  margin-right: 5%;
  border: 4px solid;
  
}

.column {
  width: 300px;
  float: left;
}

.animalSomething {
  box-sizing: border-box;
  border: 4px solid;
  padding: 4px;
}

.test {
  color:red;
  font-style: italic;
}

.About-me h2 {
  font-style: italic
}

.About-me p {
  font-weight: bolder;
}