#Date {
  
}

.dog {
  font-style: italic;
  font-weight: bold;
}

body {
  background-color: rgba(85, 137, 240, 0.245);
}

.highlight {
  color: blue;
}

.fish-type {
  background-color: rgb(255, 119, 194);
}

img {
  float: left;
  width: 30%;
  height: 30%;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: white;
  height: 400px;
}

.column {
  width: 300px;
  float: left;
}